* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Poppins", sans-serif;
}

.front-page {
    width: 100%;
    height: 100%;
    color: rgb(228, 228, 228);
    z-index: 2;
    clip-path: circle(5%);
    background-color: black;
}

.front-page video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.feed-logo {
    max-width: 10%;
}

.intro-text, 
.feed-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    size: 0.2rem;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-shadow: 2px 2px 5px black;
}

.blend {
    width: 100%;
    height: 100vh;
    background: black;
    position: absolute;
    opacity: 0.4;
}

.title {
    font-size: 5rem;
    padding-bottom: 1rem;
}

.sub-title {
    font-size: 0.1rem;
}

.second-page {
    height: 100vh;
}